html,
body{

min-height:100vh;

background-image:url("../assets/images/background.png");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

background-attachment:fixed;

color:white;

}


body::before{

content:"";

position:fixed;

inset:0;

background:rgba(5,11,22,0.55);

z-index:-1;

}


.verify-page{

background:transparent !important;

}
