*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;

}


html,
body{

width:100%;

min-height:100vh;

color:#fff;

overflow-x:hidden;

background:transparent;

}



.password-page{

width:100%;

max-width:480px;

min-height:100vh;

margin:auto;

padding:18px 15px 110px;

background:transparent;

}





/* HEADER */

.page-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:25px;

}



.page-header a{

font-size:38px;

color:#fff;

text-decoration:none;

line-height:1;

}



.page-header h2{

font-size:20px;

font-weight:700;

color:#EAF3FF;

}






/* TOP CARD */


.password-card{

background:rgba(11,22,40,0.88);

backdrop-filter:blur(6px);

border:1px solid #17365C;

border-radius:20px;

padding:22px;

text-align:center;

margin-bottom:18px;

}





.icon{

width:60px;

height:60px;

border-radius:50%;

background:#1687FF;

display:flex;

align-items:center;

justify-content:center;

margin:0 auto 12px;

box-shadow:0 0 15px #1687FF;

font-size:32px;

}



.password-card h3{

font-size:18px;

}



.password-card p{

color:#98A5B8;

font-size:13px;

margin-top:8px;

}






/* FORM */


.form-card{

background:rgba(11,22,40,0.88);

backdrop-filter:blur(6px);

border:1px solid #17365C;

border-radius:20px;

padding:20px;

}
.form-card label{

display:block;

color:#AAB5C5;

font-size:14px;

margin:12px 0 8px;

}





.method-box{

display:flex;

gap:10px;

}



.method-box button{

flex:1;

height:50px;

background:rgba(7,20,38,0.75);

border:1px solid #17365C;

border-radius:14px;

color:#fff;

font-size:14px;

cursor:pointer;

}



.method-box button:hover{

border-color:#1687FF;

}






.form-card input{

width:100%;

height:55px;

background:rgba(7,20,38,0.75);

border:1px solid #17365C;

border-radius:15px;

padding:0 15px;

color:#fff;

font-size:15px;

outline:none;

}



.form-card input:focus{

border-color:#1687FF;

box-shadow:0 0 8px #1687FF55;

}







.save-btn{

width:100%;

height:55px;

margin-top:25px;

border:0;

border-radius:16px;

background:#1687FF;

color:#fff;

font-size:16px;

font-weight:bold;

cursor:pointer;

box-shadow:0 0 15px #1687FF55;

}








/* BOTTOM NAV */


.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

height:78px;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

align-items:center;

padding:8px;

z-index:9999;

}




.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

display:flex;

flex-direction:column;

align-items:center;

gap:4px;

}





.bottom-nav svg{

width:27px;

height:27px;

stroke:#98A5B8;

fill:none;

stroke-width:2;

}





.bottom-nav a:hover{

color:#1687FF;

}



.bottom-nav a:hover svg{

stroke:#1687FF;

filter:drop-shadow(0 0 8px #1687FF);

} 
