*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;
}


html,body{

width:100%;
min-height:100%;
background:#050B16;
color:white;

}


.valora-deposit{

background:#050B16;

}


.deposit-container{

width:100%;
min-height:100vh;

padding:12px 12px 25px;

overflow-x:hidden;

}



/* الرأس */

.deposit-header{

text-align:center;
margin-bottom:12px;

}


.deposit-logo{

font-size:28px;
font-weight:800;
letter-spacing:3px;

color:#EAF3FF;

text-shadow:0 0 12px #1687FF;

}





/* العنوان */

.deposit-title{

text-align:center;

margin-bottom:14px;

}


.deposit-icon{

width:38px;
height:38px;

margin:auto;

border-radius:50%;

background:#22C55E;

display:flex;

align-items:center;

justify-content:center;

font-size:23px;

}


.deposit-title h2{

margin-top:8px;

font-size:21px;

}


.deposit-title p{

color:#98A5B8;

font-size:13px;

}





/* العملات */

.deposit-coins{

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

margin-bottom:15px;

}


.deposit-coin{

height:62px;

background:#0B1628;

border:1px solid #17365C;

border-radius:15px;

display:flex;

align-items:center;

gap:9px;

padding:9px;

color:white;

cursor:pointer;

}


.deposit-coin.active{

border:2px solid #1687FF;

}



.deposit-coin-icon{

width:34px;

height:34px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:16px;

font-weight:bold;

}


.usdt{

background:#22C55E;

}


.btc{

background:#F59E0B;

}


.eth{

background:#6366F1;

}


.trx{

background:#EF4444;

font-size:12px;

}


.deposit-coin strong{

font-size:14px;

}


.deposit-coin small{

display:block;

color:#98A5B8;

font-size:11px;

}
/* بطاقة الإيداع */

.deposit-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:18px;

padding:14px;

}


.deposit-card h3{

font-size:16px;

margin-bottom:10px;

}





/* الشبكات */

.network-buttons{

display:flex;

gap:8px;

margin-bottom:15px;

}


.network{

flex:1;

height:40px;

background:#111D32;

border:1px solid #17365C;

border-radius:10px;

color:white;

font-size:14px;

font-weight:bold;

cursor:pointer;

}


.network.active{

background:#1687FF;

border-color:#1687FF;

}





/* العنوان */

.address-area{

display:flex;

gap:6px;

margin-bottom:12px;

}


.address-area input{

flex:1;

height:40px;

background:#050B16;

border:1px solid #17365C;

border-radius:10px;

color:white;

padding:8px;

font-size:12px;

}



.address-area button{

width:60px;

height:40px;

border:0;

border-radius:10px;

background:#22C55E;

color:white;

font-size:13px;

font-weight:bold;

cursor:pointer;

}




/* الملاحظة */

.deposit-warning{

background:#111D32;

border:1px solid #17365C;

border-radius:12px;

padding:11px;

color:#FACC15;

font-size:12px;

line-height:1.7;

text-align:center;

}
