.valora-deposit *{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;

}



.valora-deposit{

background:#050B16;

color:white;

min-height:100vh;

}





.deposit-container{

max-width:480px;

margin:auto;

padding:18px 15px 100px;

}







.deposit-header{

display:flex;

justify-content:center;

margin-bottom:20px;

}



.deposit-logo{

font-size:32px;

font-weight:800;

letter-spacing:3px;

color:#EAF3FF;

text-shadow:0 0 10px #1687FF;

}








.deposit-title{

text-align:center;

margin-bottom:20px;

}



.deposit-icon{

width:55px;

height:55px;

border-radius:50%;

background:#22C55E;

margin:auto;

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

}



.deposit-title h2{

margin-top:12px;

font-size:22px;

}



.deposit-title p{

font-size:13px;

color:#98A5B8;

}









.deposit-coins{

display:flex;

flex-direction:column;

gap:12px;

}






.deposit-coin{

height:70px;

width:100%;

background:#0B1628;

border:1px solid #17365C;

border-radius:16px;

display:flex;

align-items:center;

padding:12px;

color:white;

direction:ltr;

}




.deposit-coin-icon{

width:45px;

height:45px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

font-weight:bold;

margin-left:12px;

}



.deposit-coin strong{

display:block;

direction:rtl;

}



.deposit-coin small{

display:block;

direction:rtl;

color:#98A5B8;

}





.usdt{

background:#26A17B;

}



.btc{

background:#F7931A;

}



.eth{

background:#627EEA;

}



.bnb{

background:#F3BA2F;

color:#111;

}









.deposit-card{

margin-top:20px;

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:18px;

}





.deposit-card h3{

font-size:15px;

margin-bottom:12px;

color:#EAF3FF;

}







.network-buttons{

display:flex;

gap:10px;

margin-bottom:20px;

}





.network{

flex:1;

padding:12px;

border-radius:12px;

border:1px solid #17365C;

background:#071426;

color:white;

font-weight:bold;

}



.network.active{

background:#1687FF;

border-color:#1687FF;

}









.address-area{

display:flex;

gap:8px;

}





.address-area input{

flex:1;

padding:12px;

background:#071426;

border:1px solid #20344F;

border-radius:10px;

color:white;

font-size:13px;

direction:ltr;

}






.address-area button{

width:70px;

border:0;

border-radius:10px;

background:#22C55E;

color:white;

font-weight:bold;

}







.deposit-warning{

margin-top:18px;

padding:14px;

border-radius:12px;

background:#071426;

color:#FACC15;

font-size:13px;

text-align:center;

}








.deposit-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:480px;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:12px;

}



.deposit-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

}
