/* ===========================
   VALORA Language
=========================== */

.language-card{

background:#0B1628;
border:1px solid #17365C;
border-radius:20px;
overflow:hidden;
margin-top:20px;

}

.language-item{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px;

cursor:pointer;

transition:.25s;

border-bottom:1px solid #17365C;

}

.language-item:last-child{

border-bottom:none;

}

.language-item:hover{

background:#101E34;

}

.language-left{

display:flex;
align-items:center;
gap:15px;

}

.language-flag{

font-size:28px;

}

.language-title{

font-size:16px;
font-weight:700;
color:#fff;

}

.language-subtitle{

font-size:12px;
color:#98A5B8;
margin-top:3px;

}

/* دائرة الاختيار */

.language-radio{

width:24px;
height:24px;

border:2px solid #1687FF;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

transition:.25s;

}

.radio-dot{

width:12px;
height:12px;

border-radius:50%;

background:#1687FF;

transform:scale(0);

transition:.25s;

}

.language-radio.active .radio-dot{

transform:scale(1);

}

.save-info{

margin-top:18px;

text-align:center;

font-size:13px;

color:#98A5B8;

}
