*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,Tahoma,sans-serif;

}


body{

background:#050B16;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

color:white;

}



.login-container{

width:90%;

max-width:420px;

background:#0B1628;

border-radius:20px;

padding:35px;

box-shadow:0 0 35px rgba(0,140,255,.15);

border:1px solid #17365c;

}



.logo{

text-align:center;

font-size:38px;

font-weight:700;

color:#1687FF;

margin-bottom:10px;

}



.subtitle{

text-align:center;

color:#98A5B8;

margin-bottom:30px;

font-size:15px;

}



.input-group{

margin-bottom:18px;

}



.input-group label{

display:block;

margin-bottom:8px;

font-size:14px;

color:#C6D3E4;

}



.input-group input{

width:100%;

padding:14px;

background:#071426;

border:1px solid #20344F;

border-radius:12px;

color:white;

font-size:15px;

outline:none;

}



.input-group input:focus{

border-color:#1687FF;

}



.login-btn{

width:100%;

padding:15px;

background:#1687FF;

border:none;

border-radius:12px;

color:white;

font-size:17px;

font-weight:700;

cursor:pointer;

}



.login-btn:hover{

background:#0B72DE;

}



.links{

display:flex;

justify-content:space-between;

margin-top:18px;

font-size:14px;

}



.links a{

color:#1687FF;

text-decoration:none;

}



.register{

margin-top:25px;

text-align:center;

color:#9CA9BB;

}



.register a{

color:#1687FF;

text-decoration:none;

font-weight:bold;

}
