*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;

}



body{

background:#050B16;

color:white;

min-height:100vh;

overflow-x:hidden;

}





.security-page{

max-width:480px;

margin:auto;

padding:18px 15px 110px;

}





/* HEADER */

.page-header{

display:flex;

align-items:center;

justify-content:flex-start;

gap:15px;

margin-bottom:25px;

}



.page-header a{

font-size:38px;

color:white;

text-decoration:none;

line-height:1;

}



.page-header h2{

font-size:20px;

color:#EAF3FF;

}







/* CARD */

.security-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:22px;

text-align:center;

margin-bottom:18px;

}



.icon{

width:60px;

height:60px;

border-radius:50%;

background:#1687FF;

display:flex;

align-items:center;

justify-content:center;

margin:0 auto 12px;

box-shadow:0 0 15px #1687FF;

}



.icon svg{

width:32px;

height:32px;

stroke:white;

fill:none;

stroke-width:2;

}



.security-card h3{

font-size:18px;

}



.security-card p{

color:#98A5B8;

font-size:13px;

margin-top:8px;

}







/* FORM */


.form-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:20px;

}



.form-card label{

display:block;

color:#AAB5C5;

font-size:14px;

margin-bottom:8px;

margin-top:12px;

}



.form-card input{


width:100%;

height:55px;

background:#071426;

border:1px solid #17365C;

border-radius:15px;

padding:0 15px;

color:white;

font-size:16px;

outline:none;

text-align:center;

}



.form-card input:focus{

border-color:#1687FF;

box-shadow:0 0 8px #1687FF55;

}





.form-card button{


width:100%;

height:55px;

margin-top:25px;

background:#1687FF;

border:0;

border-radius:16px;

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

box-shadow:0 0 15px #1687FF55;

}










/* NEW BOTTOM NAV */


.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

height:78px;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

align-items:center;

padding:8px;

z-index:100;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

display:flex;

flex-direction:column;

align-items:center;

gap:4px;

}



.bottom-nav svg{

width:27px;

height:27px;

stroke:#98A5B8;

fill:none;

stroke-width:2;

}



.bottom-nav a:hover{

color:#1687FF;

}



.bottom-nav a:hover svg{

stroke:#1687FF;

filter:drop-shadow(0 0 8px #1687FF);

}
