*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;

}



body{

background:#050B16;

color:white;

min-height:100vh;

}



.settings-page{

max-width:480px;

margin:auto;

padding:18px 15px 90px;

}





/* HEADER */


.settings-header{

display:flex;

align-items:center;

margin-bottom:20px;

}



.brand{

font-size:30px;

font-weight:800;

letter-spacing:2px;

color:#EAF3FF;

text-shadow:0 0 10px #1687FF;

}







/* PROFILE */


.profile-card{


background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:18px;

display:flex;

align-items:center;

gap:15px;

margin-bottom:18px;


}



.avatar{


width:55px;

height:55px;

border-radius:50%;

background:#1687FF;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

}



.profile-card h3{


font-size:18px;

}



.profile-card p{


color:#98A5B8;

font-size:13px;

margin-top:4px;

}







/* SETTINGS LIST */


.settings-list{

display:flex;

flex-direction:column;

gap:12px;

}



.settings-item{

background:#0B1628;

border:1px solid #17365C;

border-radius:16px;

padding:15px;

display:flex;

justify-content:space-between;

align-items:center;

text-decoration:none;

color:white;

}



.settings-item div{

display:flex;

align-items:center;

gap:12px;

font-size:15px;

}



.settings-item b{

font-size:25px;

color:#1687FF;

font-weight:400;

}



.settings-item:hover{

border-color:#1687FF;

}







/* LOGOUT */


.logout-btn{


width:100%;

margin-top:35px;

background:#EF4444;

border:0;

color:white;

padding:15px;

border-radius:16px;

font-size:16px;

font-weight:bold;

cursor:pointer;


}







/* BOTTOM NAV */


.bottom-nav{


position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:10px;

z-index:50;


}



.bottom-nav a{


color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;


}



.bottom-nav .active{

color:#1687FF;

}
