/* =========================
   VALORA SETTINGS STYLE
========================= */


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,Tahoma,sans-serif;

}



body{

background:#050B16;

min-height:100vh;

color:white;

}





.dashboard{

width:100%;

max-width:480px;

margin:auto;

padding:20px;

padding-bottom:90px;

}





/* HEADER */


.header{

margin-bottom:25px;

}



.brand{

color:#1687FF;

font-size:34px;

font-weight:700;

}





/* PROFILE */


.profile-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:22px;

padding:25px;

margin-bottom:20px;

text-align:center;

}



.profile-name{

font-size:24px;

font-weight:bold;

color:#1687FF;

}



.profile-id{

margin-top:10px;

color:#98A5B8;

font-size:14px;

}





/* SETTINGS */


.settings-box{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

overflow:hidden;

}




.settings-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px;

border-bottom:1px solid #17365C;

}



.settings-item:last-child{

border-bottom:none;

}



.settings-item span{

color:#98A5B8;

}



.settings-item strong{

color:#C6D3E4;

font-size:14px;

}



.settings-item a{

color:#1687FF;

text-decoration:none;

}





/* LOGOUT */


.logout-btn{

width:100%;

margin-top:25px;

padding:15px;

background:#0B1628;

border:1px solid #EF4444;

border-radius:14px;

color:#EF4444;

font-size:16px;

font-weight:bold;

cursor:pointer;

}





/* BOTTOM MENU */


.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:480px;

background:#050B16;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:15px;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:13px;

}
