*{

margin:0;
padding:0;

box-sizing:border-box;

font-family:'Cairo',Arial,sans-serif;

}


html,body{

background:#050B16;

color:white;

min-height:100vh;

overflow-x:hidden;

}





.history-page{

max-width:480px;

width:100%;

margin:auto;

padding:18px 15px 95px;

background:#050B16;

min-height:100vh;

}





/* HEADER */

.page-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:20px;

}



.page-header a{

font-size:38px;

color:white;

text-decoration:none;

line-height:1;

}



.page-header h2{

font-size:20px;

font-weight:700;

}







/* SUMMARY */


.summary-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:15px;

display:flex;

justify-content:space-between;

gap:8px;

margin-bottom:15px;

}



.summary-item{

flex:1;

background:#071426;

border:1px solid #17365C;

border-radius:14px;

padding:12px 5px;

text-align:center;

}



.summary-item span{

display:block;

font-size:12px;

color:#98A5B8;

margin-bottom:8px;

}



.summary-item strong{

font-size:20px;

color:#1687FF;

}







/* TREE */


.tree-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:18px;

}



.tree-card h3{

font-size:17px;

margin-bottom:20px;

text-align:center;

}



.tree{

text-align:center;

}



.member-card{

background:#071426;

border:1px solid #17365C;

border-radius:16px;

padding:14px;

display:inline-block;

min-width:180px;

box-shadow:0 0 10px rgba(22,135,255,.08);

}



.member-card strong{

display:block;

font-size:16px;

color:#fff;

}



.member-card p{

font-size:13px;

color:#CBD5E1;

margin-top:6px;

}







/* ROOT */


.root .member-card{

border-color:#1687FF;

background:#102342;

}







/* LINES */


.line{

width:2px;

height:30px;

background:#1687FF;

margin:0 auto;

}



.children{

display:flex;

flex-direction:column;

gap:18px;

align-items:center;

}



.sub-line{

width:2px;

height:25px;

background:#17365C;

margin:10px auto;

}



.member.sub .member-card{

background:#091A30;

border-color:#1687FF;

}







/* MOBILE */


@media(max-width:350px){

.summary-card{

flex-direction:column;

}


.member-card{

min-width:150px;

}

}
