/* =========================
   VALORA TEAM STYLE
========================= */


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,Tahoma,sans-serif;

}



body{

background:#050B16;

min-height:100vh;

color:white;

}




.dashboard{

width:100%;

max-width:480px;

margin:auto;

padding:20px;

padding-bottom:90px;

}





/* HEADER */


.header{

margin-bottom:25px;

}



.brand{

color:#1687FF;

font-size:34px;

font-weight:700;

}





/* REFERRAL */


.referral-box{

background:#0B1628;

border:1px solid #17365C;

border-radius:22px;

padding:22px;

margin-bottom:20px;

}



.referral-title{

color:#98A5B8;

margin-bottom:12px;

}



.referral-code{

display:flex;

align-items:center;

justify-content:space-between;

background:#071426;

border:1px solid #20344F;

border-radius:12px;

padding:12px;

}



.referral-code span{

color:#1687FF;

font-weight:bold;

}



.referral-code button{

background:#1687FF;

border:none;

color:white;

padding:7px 14px;

border-radius:8px;

}





/* TEAM COUNT */


.team-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:18px;

padding:20px;

margin-bottom:20px;

}



.team-card h3{

color:#C6D3E4;

font-size:16px;

}



.team-number{

font-size:32px;

color:#1687FF;

font-weight:bold;

margin-top:10px;

}





/* TABLES */


.team-table{

background:#0B1628;

border:1px solid #17365C;

border-radius:18px;

overflow:hidden;

margin:15px 0 25px;

}



.table-row{

display:flex;

justify-content:space-between;

padding:15px;

border-bottom:1px solid #17365C;

color:#C6D3E4;

}



.table-row:last-child{

border-bottom:none;

}



.table-head{

color:#1687FF;

font-weight:bold;

background:#071426;

}



.level-title{

margin-top:20px;

}





/* BOTTOM MENU */


.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:480px;

background:#050B16;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:15px;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:13px;

}
