*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;

}



body{

background:#050B16;

color:white;

min-height:100vh;

}





.trade-page{

max-width:480px;

margin:auto;

padding:18px 15px;

}





/* HEADER */


.trade-header{

display:flex;

align-items:center;

margin-bottom:25px;

}



.back{

background:#0B1628;

border:1px solid #17365C;

color:white;

width:42px;

height:42px;

border-radius:14px;

font-size:22px;

}




.coin-header{

display:flex;

align-items:center;

gap:12px;

margin-right:auto;

margin-left:auto;

}



.coin-big{

width:55px;

height:55px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

font-weight:bold;

}



.btc{

background:#F7931A;

}





.coin-header h2{

font-size:20px;

}



.coin-header span{

color:#98A5B8;

font-size:13px;

}





/* PRICE */


.price-box{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:20px;

text-align:center;

margin-bottom:18px;

}



.price-box p{

color:#98A5B8;

font-size:14px;

}



.price-box h1{

font-size:36px;

margin:10px 0;

}





.up{

color:#22C55E;

font-weight:bold;

}





/* CHART */


.chart-box{

height:180px;

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

margin-bottom:20px;

display:flex;

align-items:center;

overflow:hidden;

}





.chart-line{

width:100%;

height:100%;

display:flex;

align-items:center;

gap:12px;

padding:20px;

}





.chart-line span{

width:18%;

height:3px;

background:#22C55E;

transform:rotate(-15deg);

animation:chartMove 2s infinite;

}





.chart-line span:nth-child(2){

transform:rotate(12deg);

}



.chart-line span:nth-child(3){

transform:rotate(-20deg);

}



.chart-line span:nth-child(4){

transform:rotate(10deg);

}



.chart-line span:nth-child(5){

transform:rotate(-8deg);

}





@keyframes chartMove{

50%{

opacity:.4;

}

}







/* FORM */


.trade-form{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:18px;

}





.available{

display:flex;

justify-content:space-between;

color:#98A5B8;

margin-bottom:20px;

}



.available strong{

color:white;

}





label{

display:block;

color:#98A5B8;

margin-bottom:8px;

}





input{

width:100%;

height:48px;

background:#071426;

border:1px solid #17365C;

border-radius:12px;

color:white;

padding:10px;

font-size:16px;

}





.buttons{

display:flex;

gap:12px;

margin-top:20px;

}





.buttons button{

flex:1;

height:50px;

border:0;

border-radius:14px;

font-size:17px;

font-weight:bold;

color:white;

}





.buy{

background:#22C55E;

}





.sell{

background:#EF4444;

}





/* ORDERS */


.orders{

margin-top:20px;

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:18px;

}



.orders h3{

margin-bottom:15px;

}



.empty{

text-align:center;

color:#98A5B8;

padding:20px;

}
