*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;
}


body{

background:#050B16;

color:white;

min-height:100vh;

}



.transactions-page{

max-width:480px;

margin:auto;

padding:18px 15px 100px;

}





/* HEADER */

.transactions-header{

display:flex;

align-items:center;

justify-content:center;

position:relative;

margin-bottom:20px;

}



.transactions-header h2{

font-size:22px;

}



.transactions-header a{

position:absolute;

right:0;

color:white;

font-size:35px;

text-decoration:none;

}




/* CARD */

.history-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:15px;

}





.empty-history{

padding:35px 10px;

text-align:center;

color:#98A5B8;

}





/* العملية */

.transaction-item{

background:#071426;

border:1px solid #17365C;

border-radius:16px;

padding:15px;

margin-bottom:12px;

display:flex;

justify-content:space-between;

align-items:center;

}



.transaction-title{

font-size:15px;

}



.transaction-date{

font-size:12px;

color:#98A5B8;

margin-top:5px;

}



.transaction-value{

font-size:16px;

font-weight:bold;

direction:ltr;

}



.deposit{

color:#22C55E;

}



.withdraw{

color:#EF4444;

}



.profit{

color:#1687FF;

}





/* BOTTOM NAV */

.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:480px;

height:75px;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

align-items:center;

z-index:9999;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

display:flex;

flex-direction:column;

align-items:center;

gap:5px;

}



.bottom-nav .active{

color:#1687FF;

}
