.wallet-actions{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.wallet-actions button{
    flex:1;
    height:90px;
    border-radius:20px;
    border:1px solid #17365C;
    background:#0B1628;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:8px;
    font-size:16px;
    font-weight:700;
}

.wallet-actions button span{
    width:40px;
    height:40px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
}


.wallet-actions .withdraw-action{
    box-shadow:0 0 15px rgba(22,135,255,.35);
}


.wallet-actions .withdraw-action span{
    background:#1687FF;
}



.wallet-actions .deposit-action{
    box-shadow:0 0 15px rgba(34,197,94,.35);
}


.wallet-actions .deposit-action span{
    background:#22C55E;
}
