.coin-list{

display:flex;

flex-direction:column;

gap:12px;

margin-top:20px;

}



.coin{

width:100%;

height:75px;

background:#0B1628;

border:1px solid #17365c;

border-radius:16px;

display:flex;

align-items:center;

direction:ltr;

padding:15px 18px;

color:white;

}



.coin.active{

border-color:#22C55E;

box-shadow:0 0 20px rgba(34,197,94,.25);

}





.coin-icon{

width:45px;

height:45px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

font-weight:700;

margin-right:15px;

}



.coin div:last-child{

direction:rtl;

text-align:right;

}



.coin strong{

font-size:17px;

display:block;

color:#fff;

}



.coin small{

font-size:13px;

color:#98A5B8;

}



.usdt{

background:#22C55E;

color:white;

}



.btc{

background:#F7931A;

color:white;

}



.eth{

background:#627EEA;

color:white;

}
