*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;

}



body{

background:#050B16;

color:white;

min-height:100vh;

}



.password-page{

max-width:480px;

margin:auto;

padding:18px 15px 90px;

}





/* HEADER */

.page-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:22px;

}



.page-header a{

color:white;

font-size:38px;

text-decoration:none;

}



.page-header h2{

font-size:20px;

}






/* TOP CARD */


.password-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:20px;

text-align:center;

margin-bottom:18px;

}



.icon{

font-size:45px;

margin-bottom:10px;

}



.password-card h3{

font-size:18px;

}



.password-card p{

color:#98A5B8;

font-size:13px;

margin-top:8px;

}







/* FORM */


.form-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:20px;

}



.form-card label{

display:block;

color:#AAB5C5;

font-size:14px;

margin:12px 0 8px;

}





.method-box{

display:flex;

gap:10px;

}



.method-box button{

flex:1;

background:#071426;

border:1px solid #17365C;

color:white;

border-radius:14px;

padding:12px;

font-size:13px;

cursor:pointer;

}



.method-box button:hover{

border-color:#1687FF;

}






.form-card input{


width:100%;

background:#071426;

border:1px solid #17365C;

border-radius:14px;

padding:14px;

color:white;

font-size:15px;

outline:none;

}



.form-card input:focus{

border-color:#1687FF;

}





.save-btn{

width:100%;

margin-top:25px;

background:#1687FF;

border:0;

border-radius:15px;

padding:15px;

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

}







/* BOTTOM NAV */


.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:10px;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

}



.bottom-nav a:hover{

color:#1687FF;

}
