*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,Tahoma,sans-serif;

}



body{

background:#050B16;

min-height:100vh;

color:white;

padding:15px;

}





.dashboard{

width:100%;

max-width:420px;

margin:auto;

padding-bottom:90px;

}







/* الهيدر */


.header{

display:flex;

justify-content:center;

padding:15px 0;

}



.brand{

font-size:30px;

font-weight:800;

letter-spacing:3px;

color:#EAF3FF;

text-shadow:0 0 10px #1687FF;

}







/* عنوان الصفحة */


.page-title{

text-align:center;

margin:15px 0 25px;

}



.icon-box{

width:55px;

height:55px;

margin:auto;

border-radius:50%;

background:#1687FF;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

box-shadow:0 0 20px rgba(22,135,255,.35);

}



.page-title h2{

margin-top:12px;

font-size:22px;

}



.page-title p{

color:#98A5B8;

font-size:13px;

}







/* السجل */


.history-list{

display:flex;

flex-direction:column;

gap:15px;

}



.history-card{

background:#0B1628;

border:1px solid #17365c;

border-radius:18px;

padding:16px;

box-shadow:0 0 20px rgba(0,0,0,.2);

}







.history-top{

display:flex;

align-items:center;

gap:12px;

}



.coin-mini{

width:42px;

height:42px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

font-weight:bold;

}



.usdt{

background:#22C55E;

}



.coin-info{

flex:1;

}



.coin-info strong{

display:block;

font-size:16px;

}



.coin-info small{

color:#98A5B8;

font-size:12px;

}







/* الحالات */


.status{

padding:5px 12px;

border-radius:20px;

font-size:12px;

font-weight:bold;

}



.complete{

background:#22C55E;

color:white;

}



.rejected{

background:#EF4444;

color:white;

}



.pending{

background:#F59E0B;

color:white;

}







/* البيانات */


.history-data{

margin-top:15px;

background:#071426;

border-radius:12px;

padding:10px;

}



.history-data p{

display:flex;

justify-content:space-between;

padding:7px 0;

font-size:12px;

border-bottom:1px solid #17365c;

color:#98A5B8;

}



.history-data p:last-child{

border:none;

}



.history-data span{

color:white;

}








/* القائمة السفلية */


.bottom-nav{

position:fixed;

bottom:15px;

left:50%;

transform:translateX(-50%);

width:92%;

max-width:420px;

background:#0B1628;

border:1px solid #17365c;

border-radius:18px;

display:flex;

justify-content:space-around;

padding:10px;

}



.bottom-nav a{

text-decoration:none;

color:#98A5B8;

font-size:12px;

text-align:center;

}



.bottom-nav a:hover{

color:#1687FF;

}







@media(max-width:360px){


.page-title h2{

font-size:19px;

}


}
