*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Cairo',Arial,sans-serif;

}



html,body{

background:#050B16;

color:white;

min-height:100vh;

}





.language-page{

max-width:480px;

margin:auto;

padding:18px 15px 90px;

}





/* HEADER */

.page-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:25px;

}



.page-header a{

font-size:38px;

color:white;

text-decoration:none;

}



.page-header h2{

font-size:20px;

}







/* LANGUAGE BOX */


.language-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:12px;

}





.language-item{

display:flex;

align-items:center;

justify-content:space-between;

background:#071426;

border:1px solid #17365C;

border-radius:14px;

padding:15px;

margin-bottom:10px;

font-size:15px;

cursor:pointer;

}



.language-item span{

display:flex;

align-items:center;

gap:12px;

}



.language-item:hover{

border-color:#1687FF;

}



.language-item.active{

border-color:#1687FF;

background:#102342;

}



.language-item b{

color:#22C55E;

font-size:20px;

}







/* BOTTOM NAV */


.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:12px;

z-index:50;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

}
