*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;

}



body{

background:#050B16;

color:white;

min-height:100vh;

}





.notifications-page{

max-width:480px;

margin:auto;

padding:18px 15px 90px;

}





/* HEADER */


.page-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:25px;

}



.page-header a{

font-size:38px;

color:white;

text-decoration:none;

}



.page-header h2{

font-size:20px;

}







/* EMPTY CARD */


.notification-card{


background:#0B1628;

border:1px solid #17365C;

border-radius:22px;

padding:35px 20px;

text-align:center;

margin-top:40px;


}



.notification-icon{

font-size:55px;

margin-bottom:15px;

}



.notification-card h3{

font-size:20px;

}



.notification-card p{

color:#98A5B8;

font-size:14px;

margin-top:10px;

line-height:1.8;

}







/* BOTTOM NAV */


.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:10px;

z-index:50;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

}



.bottom-nav a:hover{

color:#1687FF;

}
