*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;
}


html,body{

background:#050B16 !important;

color:white !important;

min-height:100%;

}


.security-page{

max-width:480px;

margin:auto;

padding:18px 15px 90px;

}


/* HEADER */

.page-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:25px;

}


.page-header a{

color:white;

font-size:38px;

text-decoration:none;

}


.page-header h2{

font-size:20px;

color:white;

}





/* CARD */

.security-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:22px;

text-align:center;

margin-bottom:18px;

}


.icon{

font-size:45px;

}



.security-card h3{

margin-top:10px;

}


.security-card p{

color:#98A5B8;

font-size:13px;

}





/* FORM */

.form-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:20px;

}


.form-card label{

display:block;

color:#AAB5C5;

margin:12px 0 8px;

}



.form-card input{

width:100%;

background:#071426;

border:1px solid #17365C;

border-radius:14px;

padding:14px;

color:white;

text-align:center;

font-size:16px;

}



.form-card button{

width:100%;

margin-top:25px;

background:#1687FF;

border:0;

border-radius:14px;

padding:15px;

color:white;

font-size:16px;

font-weight:bold;

}





/* BOTTOM NAV */

.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:10px;

z-index:50;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

}
