*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',Arial,sans-serif;

}


body{

background:#050B16;

color:white;

min-height:100vh;

}



.verify-page{

max-width:480px;

margin:auto;

padding:18px 15px 90px;

}




/* HEADER */


.page-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:22px;

}



.page-header a{

color:white;

font-size:38px;

text-decoration:none;

}



.page-header h2{

font-size:20px;

}







/* NOTICE */


.notice-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:20px;

text-align:center;

margin-bottom:18px;

}



.verify-icon{

font-size:45px;

margin-bottom:10px;

}



.notice-card h3{

font-size:18px;

}



.notice-card p{

color:#98A5B8;

font-size:13px;

margin-top:8px;

}







/* UPLOAD */


.upload-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:20px;

}



.upload-card h3{

font-size:16px;

margin:15px 0 10px;

}




.upload-box{

height:130px;

border:2px dashed #1687FF;

border-radius:18px;

background:#071426;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

cursor:pointer;

color:#AAB5C5;

}





.upload-box input{

display:none;

}



.upload-box span{

font-size:15px;

}



.upload-box:hover{

background:#0D203B;

}






.upload-card button{


width:100%;

margin-top:25px;

background:#1687FF;

border:0;

border-radius:15px;

padding:15px;

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

}







/* BOTTOM NAV */


.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:10px;

z-index:50;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

}


.bottom-nav a:hover{

color:#1687FF;

}
