*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Cairo',Arial,sans-serif;

}



body{

background:#050B16;

color:white;

min-height:100vh;

}



.verify-page{

max-width:480px;

margin:auto;

padding:18px 15px 90px;

}



/* HEADER */

.page-header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:18px;

}



.page-header a{

font-size:38px;

color:white;

text-decoration:none;

}



.page-header h2{

font-size:20px;

}





/* MAIN CARD */

.verify-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:20px;

padding:18px;

text-align:center;

margin-bottom:12px;

}



.verify-icon{

font-size:45px;

margin-bottom:8px;

}



.verify-card p{

color:#98A5B8;

font-size:13px;

}





/* RULES */

.rules-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:18px;

padding:15px;

margin-bottom:12px;

}



.rules-card h3{

font-size:17px;

margin-bottom:10px;

}



.rules-card ul{

padding-right:18px;

}



.rules-card li{

color:#CBD5E1;

font-size:13px;

line-height:1.8;

}





/* UPLOAD */

.upload-card{

background:#0B1628;

border:1px solid #17365C;

border-radius:18px;

padding:15px;

}



.upload-card h4{

font-size:14px;

margin:12px 0;

}



.upload-box{

height:90px;

border:1px dashed #1687FF;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

background:#071426;

color:#98A5B8;

cursor:pointer;

margin-bottom:12px;

}



.upload-box input{

display:none;

}



.submit-btn{

width:100%;

background:#1687FF;

border:0;

color:white;

padding:14px;

border-radius:14px;

font-weight:bold;

font-size:15px;

margin-top:10px;

}





/* BOTTOM */

.bottom-nav{

position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);

max-width:480px;

width:100%;

background:#0B1628;

border-top:1px solid #17365C;

display:flex;

justify-content:space-around;

padding:12px;

}



.bottom-nav a{

color:#98A5B8;

text-decoration:none;

font-size:12px;

text-align:center;

}
